[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[variables]
NEXT_PUBLIC_DIRECTUS_URL = "https://directus-production-0b20.up.railway.app"

[start]
cmd = "npm run start"
